In [1]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('diabetics.csv')
data.head()

,a,b,c,d,e,f,g,h,I,j,k,l,m,n,o,p,q,r,s,outcome
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1

In [3]:
X = data.drop('outcome', 1)
y = data['outcome']

C:\Users\youss\AppData\Local\Temp/ipykernel_4268/2027706380.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('outcome', 1)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size = 0.30)


from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50)
classifier = classifier.fit(X_train, y_train)

In [12]:
predictions = classifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score


result1 = classification_report(y_test, predictions)
print("Classification Report:",result1 )

result = confusion_matrix(y_test, predictions)
print("Confusion Matrix:")
print(result)

result2 = accuracy_score(y_test,predictions)
print("Accuracy:",result2)


from sklearn.metrics import precision_score
pre = precision_score(y_test, predictions)
print("precision = " , pre) 

# import seaborn as sb
# %matplotlib inline
# sb.countplot(x = 'Outcome' , data = data , palette='hls')

Classification Report:               precision    recall  f1-score   support

           0       0.62      0.65      0.63       161
           1       0.68      0.65      0.67       185

    accuracy                           0.65       346
   macro avg       0.65      0.65      0.65       346
weighted avg       0.65      0.65      0.65       346

Confusion Matrix:
[[104  57]
 [ 64 121]]
Accuracy: 0.6502890173410405
precision =  0.6797752808988764